body { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: hotpink;}
.black-border {border: 5px solid black;}
.texts {font-size: 34px;}
.blue-border {border: 7px dotted blueviolet}